body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/*.navbar-brand {
  background: no-repeat url(logo.png);
  background-position: center center;
  background-size: cover;
}*/

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  .form-control {
    border: 0.2rem solid #ebccd1;
  }
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.footer {
  margin-top: 20px;
  padding: 20px;
  border-top:solid 1px #ccc;
  text-align: center;
}

a.btn {
  color: #fff;
}

.content {
  width: 90%;
  margin: auto;
}

/* ALERT PAGE STYLES */
.splash {
  width: 100%;
  background-color: purple;
  height: 100%;
  overflow: hidden;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  margin: 0 auto;
  padding: 20%;
  /* margin-bottom: 5%; */
}

.splash > section {
  display: block;
  position: relative;
  max-width: 50%;
  align-content: center;
}

.splash > .full-page-alert {
  align-content: center;
}

.splash > .full-page-alert > .alert-text {
  font-family: century-gothic, helvetica, arial;
  text-align: center;
  color: #fff !important;
}

.splash > .full-page-alert > .alert-image {
  display: block;
  margin: 0 auto;
  -webkit-animation: mymove 5s infinite;
  -webkit-animation-direction: alternate;
  animation: mymove 5s infinite;
  animation-direction: alternate;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  0% {-webkit-transform: rotate(135deg);}
  50% {-webkit-transform: rotate(-135deg);}
}

/* Standard syntax */
@keyframes mymove {
  0% {transform: rotate(135deg);}
  50% {transform: rotate(-135deg);}
}